body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #002366;
    color: white;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    height: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ffcc00; /* Color amarillo */
}

.hero-image {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 80px; /* Adjust margin to prevent overlap with fixed header */
    height: 500px; /* Adjust the height as needed */
    background: url('img/admisiones.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main {
    padding: 100px 20px 20px 20px; /* Add top padding to account for fixed header */
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #4a148c;
    border-bottom: 2px solid #4a148c;
    padding-bottom: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4a148c;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
}

.button:hover {
    background-color: #380d71;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4a148c;
    color: white;
    position: relative;
    width: 100%;
    bottom: 0;
}

body::after {
    content: "";
    display: block;
    height: 100px; /* Prevent footer overlap */
}
