.header-image {
    position: relative;
    background: url('img/somos1.jpg') no-repeat center center/cover;
    height: 400px;
    width: 100%;
    padding-top: 90px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.header-image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.header-image h1 {
    font-size: 3em;
    margin: 0;
    color: white;
}

.header-image p {
    font-size: 1.2em;
    margin: 0;
}

#nosotros {
    background-color: #fff;
    padding: 50px 0;
}

.container {
    width: 80%;
    margin: auto;
}

h1 {
    text-align: center;
    color: #004080;
    margin-bottom: 50px;
}

/* Estilos generales */
section {
    margin: 20px 0;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
}

/* Estilos para los encabezados de las secciones */
section h2 {
    font-size: 32px;
    color: #002366;
    margin-bottom: 10px;
    border-bottom: 2px solid #002366;
    padding-bottom: 10px;
}

/* Estilos para los párrafos de las secciones */
section p {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    line-height: 1.6;
    text-align: justify;
}

/* Estilos específicos para Misión y Visión */
.section-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.section-content > div {
    flex: 1;
    background: #e2e2e2;
    padding: 20px;
    border-radius: 10px;
}

.section-content h3 {
    font-size: 24px;
    color: #002366;
    margin-bottom: 10px;
}

.section-content p {
    font-size: 18px;
    color: #333;
    text-align: justify;
}


.nosotros {
    padding: 50px;
}

.nosotros h2 {
    margin-top: 0;
}


.symbol-section {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.symbol-section h2 {
    text-align: center;
    color: #003366;
    margin-bottom: 20px;
}

.symbol-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.symbol-item {
    flex: 1;
    max-width: 300px;
    text-align: center;
    margin: 10px;
}

.symbol-item h3 {
    color: #003366;
    margin-bottom: 10px;
}

.symbol-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.symbol-item audio {
    width: 100%;
    margin-bottom: 10px;
}

.symbol-item p {
    color: #666;
}

.content {
    width: 90%;
    margin: auto;
    padding: 40px 0;
}

.content section {
    margin-bottom: 40px;
}

.content h2 {
    font-size: 32px;
    color: #002366;
    margin-bottom: 20px;
    border-bottom: 2px solid #002366;
    padding-bottom: 10px;
}

.content p, .content ol {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
    line-height: 1.6;
    text-align: justify;
}

.content ol {
    padding-left: 20px;
}

#valores {
    margin: 20px 0; /* Reduce el margen superior e inferior */
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
}

#valores h2 {
    font-size: 32px;
    color: #002366;
    margin-bottom: 10px; /* Reduce el margen inferior */
    border-bottom: 2px solid #002366;
    padding-bottom: 10px;
}

#valores p {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px; /* Reduce el margen inferior */
    line-height: 1.6;
    text-align: justify;
}

#valores ul {
    list-style: none;
    padding: 0;
}

#valores ul li {
    background: #e2e2e2;
    margin: 5px 0; /* Reduce el margen superior e inferior */
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 18px;
    color: #333;
    text-align: justify;
}

#valores ul li strong {
    font-weight: bold;
}

#nosotros {
    margin: 20px 0; /* Reduce el margen superior e inferior */
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
}

#nosotros h2 {
    font-size: 32px;
    color: #002366;
    margin-bottom: 10px; /* Reduce el margen inferior */
    border-bottom: 2px solid #002366;
    padding-bottom: 10px;
}

#nosotros p {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px; /* Reduce el margen inferior */
    line-height: 1.6;
    text-align: justify;
}

#nosotros .section-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#nosotros .section-content > div {
    flex: 1;
    background: #e2e2e2;
    padding: 20px;
    border-radius: 10px;
}

#nosotros .section-content h3 {
    font-size: 24px;
    color: #002366;
    margin-bottom: 10px;
}

#nosotros .section-content p {
    font-size: 18px;
    color: #333;
    text-align: justify;
}
footer {
    background: #004080;
    color: white;
    text-align: center;
    padding: 10px 0;
}