.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #1ca811;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: width 0.3s ease, height 0.3s ease;
}

.whatsapp-button img {
    width: 80%;
    height: 80%;
}

.whatsapp-button:hover {
    width: 80px;
    height: 80px;
}
